@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  color: #1a1f27;
}

/* ReactQueryDevtools Button CSS */
.go3489369143 {
  scale: 1.25;
  left: 1.75rem !important;
  bottom: 1.75rem !important;
  box-shadow: 3px 3px 5px rgba(0, 0, 0, 0.25) !important;
  transition: scale 0.15s ease-in-out;
}

.go3489369143:hover {
  scale: 1.35;
}

/* FAQ Content */
.faq-content {
  font-weight: 300;
  line-height: 1.25rem;
}

.faq-content p,
strong,
s,
u,
i,
li {
  color: #4a4a4a;
}

.faq-content p,
.faq-content strong,
.faq-content s,
.faq-content u,
.faq-content i {
  color: inherit;
}

.faq-content strong {
  font-weight: 600;
}

.faq-content ul,
ol {
  margin-left: 1.25rem;
}

.faq-content ul {
  list-style-type: disc;
}

.faq-content ol {
  list-style-type: decimal;
}

.faq-content li {
  margin-top: 0.25rem;
}

.faq-content blockquote {
  margin: 0.25rem auto 1rem !important;
  font-style: normal !important;
  padding: 1rem 1.75rem !important;
  border-left: 0.25rem solid #2fc27b !important;
  background-color: #fafcfe;
}

.faq-content a {
  font-weight: 400;
  color: #007bff;
  text-decoration: underline;
}

.faq-content .ql-indent-1 {
  margin-left: 1rem;
  list-style-type: circle;
}
