@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  color: #1a1f27;
}

/* ReactQueryDevtools Button CSS */
.go3489369143 {
  scale: 1.25;
  left: 1.75rem !important;
  bottom: 1.75rem !important;
  box-shadow: 3px 3px 5px rgba(0, 0, 0, 0.25) !important;
  transition: scale 0.15s ease-in-out;
}

.go3489369143:hover {
  scale: 1.35;
}

/* FAQ Content */
.post {
  font-weight: 300;
  line-height: 1.25rem;
}

.post p,
strong,
s,
u,
i,
li {
  color: #4a4a4a;
}

.post strong {
  font-weight: 600;
}

.post ul,
ol {
  margin-left: 1.25rem;
}

.post ul {
  list-style-type: disc;
}

.post ol {
  list-style-type: decimal;
}

.post li {
  margin-top: 0.25rem;
}

.post blockquote {
  margin: 0.25rem auto 1rem !important;
  font-style: normal !important;
  padding: 1rem 1.75rem !important;
  border-left: 0.25rem solid #2fc27b !important;
  background-color: #fafcfe;
}

.post a {
  font-weight: 400;
  color: #007bff;
  text-decoration: underline;
}

.post .ql-indent-1 {
  margin-left: 1rem;
  list-style-type: circle;
}

.post .ql-size-large {
  font-size: 1.25rem;
  line-height: 1.5;
}

/* Custom CSS */
.calendar {
  box-shadow: 0 4px 15px rgba(0, 0, 0, 0.075), 0 -1px 15px rgba(0, 0, 0, 0.075);
}

.rs-slider-handle {
  display: flex !important;
  align-items: center !important;
  justify-content: center !important;
}

.rs-slider-handle::before {
  width: 1.3rem !important;
  height: 1.3rem !important;
  color: white !important;
  border: none !important;
  box-shadow: 0 4px 15px rgba(0, 0, 0, 0.2),
    0 -1px 15px rgba(221, 219, 219, 0.2);
  margin-bottom: -0.75rem;
  margin-left: 0rem !important;
}
